body {
    background-color: #F7DA55;
    font-family: 'Open Sans', sans-serif;
}

.main {
    position: absolute;
    /*top right bottom left*/
    margin: 10% 32% 20% 35%;
    width: 450px;
    height: 400px;
    background-color: #fff;
}

.img-circle {
    text-align: center;
    margin-top: -50px;
}

h1 {
    text-align: center;
    color: #676767;
}

.input-group {
    margin: 0 40px 10px 40px;
}

.form-control {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.btn {
    width: 340px;
    height: 40px;
    margin-top: 10px;
    margin-left: 52px;
    padding: 0;
}

input[type="submit"] {
    border: 1px solid #21A957;
    border-radius: 8px;
    color: #fff;
    background-color: #21A957;
    width: 340px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

a {
    color: #888;
    font-family: 'Open Sans', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    background-color: transparent;
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.a_tag {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

p {
    padding-top: 10px;
    color: #ccc;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-style: italic;
}