.box{
	width: 1190px;margin:0 auto;
	height: 200000px;
}

#btn{
	width: 40px;
	height: 40px;
	display: none;
	position: fixed;
	left: 50%;
	margin-left: 610px;
	bottom: 30px;
	background: url(images/top_bg.png) no-repeat left top;
}
#btn:hover{
	background: url(images/top_bg.png) no-repeat left -40px;
}